<h3>Purpose</h3>
<p>Welcome to LostAndFound.com, the largest and most comprehensive website devoted exclusively to the recovery of pets and personal property. Our sole purpose is to reunite lost and found pets and property to their respective owners using the dynamic communication channels provided by the Internet. What could be more satisfying than returning the family dog or engagement ring to their respective owners?</p>
<br>
<h3>Description</h3>
<p>LostAndFound.com (The Internet Lost and Found (ILF)) offers visitors a convenient, one-stop source for the exchange of lost and found information including the most comprehensive online database of lost and found pet and property listings, photos, resources, advice, and support tools, on the internet. LostAndFound.com offers this information on a local, national and international basis. It features a variety of categories and services that aim to provide users with the necessary tools (some of which are uniquely suited to the Internet) for the effective communication of lost and found information</p>
<br>
<h3>Ad Features</h3>
<p>Features available for Ads on LostAndFound.com include:
<br>
<h4>Email Matching Service</h4>
LostAndFound.com offers a matching service that "matches" the consumer's lost database ad with information entered into our found database by other users. Closely relevant results are sent by email to the consumer, who can view the found ad to determine its pertinence.
<br>
<h4>Reward Incentive</h4>
LostAndFound.com believes that providing an incentive by offering a reward for lost pets or property is an important instrument for recovery. Particularly today, when one can measure the value of lost data as greater than the economic value of the device that contains it, a reward can be the paramount motive for recovery. Not to mention the sentimental value of a lost pet! LostAndFound.com provides consumers with the ability to put a reward icon on the results page, and provides the reward amount on the ad details page. The consumer is responsible for the reward.
<br>
<h4>Photos</h4>
They say a picture is worth a thousand words. In terms of identifying a pet or piece of property, a photograph provides essential information that words cannot convey. Consumers can upload a photo for use with their ad on the Ad Detail Page, the Ad Results Page, or as a "Featured Ad". (see below)
<br>
<h4>Ad Enhancements</h4>
In order to create greater visibility for a particular lost ad, LostAndFound.com offers the following ad enhancements:
<br>
<h5>Highlighting and Bolding</h5>
Consumers can highlight or bold their lost ad on the Results Page to make their ad stand out.
<br>
<h5>Featured Ad Listings</h5>
Consumers can have their lost ad placed at the top of the Results Page for all local search queries.
<br>
<h5>Featured Ad Homepage</h5>
Consumers can have their lost ad rotate on the front page for maximum exposure. When clicked, Featured Homepage Ads will direct the viewer to the lost ad's Detail Page.
<br>
<h5>Venues</h5>
LostAndFound.com offers a venue page for public locations to effectively create an "online lost and found box". Rather than have searchers peruse listings for a whole city or country, the Venue Page allows individual locations to set up their own lost and found information online. This information is blended with the main database for all universal searches, however, only data specific to the venue is listed on the venue page. Venues can direct and report lost and found information quickly and efficiently using this tool.
<br>
<h5>Mobile App</h5>
<br>
LostAndFound.com can go mobile using the LostAndFound.com Mobile App! Use the mobile app to recovery your mobile device when lost, or use it to interact with your LostAndFound.com Venue Page. Using the mobile app, employees can efficiently upload real time information to their venue page and send out ALERTS to mobile app users for lost and found reports. Personal functionality includes mobile recovery (mapping, gps locating, and sensory alarms) as well as PIN (pinning a loss event on a map), radial alerts, and more! Check it out at www.lostandfound.com/app 
<br>
<h5>Partnership Opportunities</h5>
We are always looking to expand our reach.
Please contact us at bizdev@lostandfound.com to inquire about partnership opportunities.
<br>
<h5>Press</h5>
For press inquires please contact us at press@lostandfound.com 
<br>
<p>For more information about LostAndFound.com and its services, please see the User Agreement.
</p>
