body{
  background-color: lightgray;
  min-height: 100vh;
}
nav{
  display:block ;
  width: 70%;
  border:1px solid black;
  margin: 0 auto;
}
.logo{
  margin-left: 1%;
}
.head{
  background: white;
  padding: 2%;
  display: flex;
}
.title-head{
  font-family: 'Noto Serif', serif;
  font-size: 40px;
  margin-left: 4%;
  margin-top: 3.5%;
}
main{
  margin: 0 auto;
  width: 70%;
  background-color: lightgray;
  min-height: 60vh;
  border:1px solid black;
}
.footer{
  margin: 0 auto;
  padding: 1.5%;
  background: #222222;
  color: white;
  width: 70%;
}

