<nav class="navbar navbar-inverse  navbar-expand-md fixed-top" >

  <div class="head">

    <img src="../assets/images/matoshri2.jpg" alt="Matoshri Logo" height="100" width="300"  class="l1" align="left" class="logo">
    <h1  class="title-head">Lost and Found </h1>

  </div>

  <div class="container-fluid">

    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active"><a href="#" [routerLink]="['']">Home </a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/signup']">Sign Up</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/rlost']">Report Lost</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/rfound']">Report Found</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/slost']">Search Lost</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/sfound']">Search Found</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/about']">About Us</a></li>
    </ul>

  </div>

</nav>

<main role="main">

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</main>

<!--&lt;!&ndash;Footer&ndash;&gt;-->
<!--<footer class="page-footer font-small dark pt-0">-->

  <!--&lt;!&ndash;Footer Links&ndash;&gt;-->
  <!--<div class="container">-->

    <!--&lt;!&ndash;First row&ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash;First column&ndash;&gt;-->
      <!--<div class="col-md-12 py-5">-->

        <!--<div class="mb-5 flex-center">-->

          <!--&lt;!&ndash;Facebook&ndash;&gt;-->
          <!--<a class="fb-ic">-->
            <!--<i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
          <!--</a>-->
          <!--&lt;!&ndash;Twitter&ndash;&gt;-->
          <!--<a class="tw-ic">-->
            <!--<i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
          <!--</a>-->
          <!--&lt;!&ndash;Google +&ndash;&gt;-->
          <!--<a class="gplus-ic">-->
            <!--<i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
          <!--</a>-->
          <!--&lt;!&ndash;Linkedin&ndash;&gt;-->
          <!--<a class="li-ic">-->
            <!--<i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
          <!--</a>-->
          <!--&lt;!&ndash;Instagram&ndash;&gt;-->
          <!--<a class="ins-ic">-->
            <!--<i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
          <!--</a>-->
          <!--&lt;!&ndash;Pinterest&ndash;&gt;-->
          <!--<a class="pin-ic">-->
            <!--<i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;/First column&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;/First row&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;/Footer Links&ndash;&gt;-->

  <!--&lt;!&ndash;Copyright&ndash;&gt;-->
  <!--<div class="footer-copyright py-3 text-center">-->
    <!--© 2018 Copyright: Rutuja Bandawar-->
  <!--</div>-->
  <!--&lt;!&ndash;/Copyright&ndash;&gt;-->

<!--</footer>-->
<!--&lt;!&ndash;/Footer&ndash;&gt;-->
