<nav class="navbar navbar-inverse  navbar-expand-md fixed-top" >

  <div class="head">

    <img src="../assets/images/matoshri2.jpg" alt="Matoshri Logo" height="100" width="300"  class="l1" align="left" class="logo">
    <h1  class="title-head">Lost and Found </h1>

  </div>

  <div class="container-fluid">

    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active"><a href="#" [routerLink]="['']">Home </a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/signup']">Sign Up</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/rlost']">Report Lost</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/rfound']">Report Found</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/slost']">Search Lost</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/sfound']">Search Found</a></li>
      <li class="nav-item active"><a href="#" [routerLink]="['/about']">About Us</a></li>
    </ul>

  </div>

</nav>

<main role="main">

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</main>

<div class="footer  text-center">
  © 2018 Copyright : Rutuja Bandawar
</div>
