.btn{
  padding-left: 17.2%;
  padding-right: 17.2%;
  margin-left: 8%;
}
.container{
  padding: 0.5%;
  padding-bottom:1%;
}
.btn{
  margin-top: 2em;
}
textarea{
  width: 100%;
}
select{
  width: 100%;
}
.row{
  margin-left: 15%;
  margin-top: 1%;
}
#bttn{
  padding: 0;
  margin-left: 0%;
  margin-top: 0em;
  width: 100%;
}
fieldset{
  width: 80%;
  padding: 1%;
}
.reportf-form{
  margin-left: 10%;
}
.input{
  margin-left: 8%;
}
