<div class="list-group">

  <div *ngFor="let item of itemList | async" class="list-group-item list-group-item-action list-group-item-primary">

    <div class="image">
      <img src= {{item.iurl}} class="img-circle" alt="Circular Image" width="150" height="150" >
    </div>

    <div>
      <h3>Item Information</h3>
      <div id="status">
        <label>Status : </label> <span><b> {{item.item}}</b></span>
      </div>
      <div>
        <label>Type : </label> <span> {{item.itemType}}</span>
      </div>
      <div>
        <label>Address Found : </label><span> {{item.ivanue}}</span>
      </div>
      <div>
        <label>Date Found:  </label><span> {{item.dateLost}}</span>
      </div>
      <div>
        <label>Item Description: </label> <span> {{item.idescription}}</span>
      </div>
    </div>

    <div>
      <h3>Contact Information </h3>
      <div>
        <label>Name : </label><span> {{item.uname}}</span>
      </div>
      <div>
        <label>Mobile: </label><span> {{item.mobile}}</span>
      </div>
      <div>
        <label>Email: </label><span> {{item.email}}</span>
      </div>
    </div>

  </div>

</div>
