.list-group{
  padding-top: 2%;
  padding-bottom:2%; 
  width: 70%;
  margin-left: 1%;
}
.list-group-item{
  padding: 1%;
  display: flex;
  justify-content: space-around;
}
#status{
  color: green;
}
.image{
  padding-top: 2%;
}

@media all and (max-width: 600px){

}
