.list-group{
 padding-top: 2%;
 padding-bottom:2%;
 width: 70%;
 margin-left: 1%;

}
.list-group-item{
  padding: 1%;
  display: flex;
  justify-content: space-around;
}
.image{
  padding-top: 3%;
}
#status{
  color: red;
}
@media all and (max-width: 600px){

}
