<div class="main" >
  <div class="container" >
  <fieldset>
    <legend>Sign Up</legend>
    <div class="signup-form">

      <div class="form-group">
        <label for="name">Full Name:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.fname">
      </div>

      <div class="form-group">
        <label for="usr">Email:</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]="user.email">
      </div>

      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password">
      </div>

      <div class="form-group">
        <label for="cpwd">Confirm Password:</label>
        <input type="password" class="form-control" id="cpwd">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary custom" (click)= "register(user)">Sign Up</button>
      </div>

    </div>
  </fieldset>
  </div>
  <div class="slider">
    <button (click)="carousel.left()" class="btn-left">Left</button>
    <button (click)="carousel.right()" class="btn-right">Right</button>
    <ngx-slideshow #carousel [cards]="1" [cardSize]="'410px'" [padding]="'5'">
      <li *ngFor="let item of imageUrls"><img class="mySlides" src="../assets/images/{{item}}"></li>
    </ngx-slideshow>
  </div>

</div>



